<div class="d-flex flex-column align-items-center my-5">
    <div class="col-md-8 my-4 text-center"><h2>Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h2></div>
    <div class="font-lobster col-md-10 my-4 text-center"><h4> "Chúng tôi ở đây là để giúp cho bạn có mối quan hệ tốt đẹp với gia đình người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</h4></div>
    <div class="d-flex col-md-10 justify-content-around my-4">
        <div class="col-md-5 position-relative">
            <img src="../../static/image/female.jpg" class="img-fluid max-height-18341px" alt="responsive image">
            <div class="position-absolute text-light img-cap2 font-size-20px font-weight-bold">Bạn là nữ</div>
        </div>
        <div class="col-md-5 position-relative">
            <img src="../../static/image/male.jpg" class="img-fluid" alt="responsive image">
            <div class="position-absolute text-light img-cap1 font-size-20px font-weight-bold">Bạn là nam</div>
        </div>
    </div>
</div>