<div class="bg-star d-flex flex-column justify-content-around">
    <div class="text-center text-light font-weight-bold"><h2>Khách hàng bình chọn</h2></div>
    <div class="d-flex justify-content-around mx-2">
        <div class="rounded img-box d-flex justify-content-center align-items-center">
            <img src="../../static/image/lightning.jpg" class="voting-img">
        </div>
        <div class="rounded img-box d-flex justify-content-center align-items-center">
            <img src="../../static/image/rocks.jpg" class="voting-img">
        </div>
        <div class="rounded img-box d-flex justify-content-center align-items-center">
            <img src="../../static/image/steel.jpg" class="voting-img">
        </div>
        <div class="rounded img-box d-flex justify-content-center align-items-center">
            <img src="../../static/image/woods.jpg" class="voting-img"
            ></div>
    </div>
    <div class="d-flex justify-content-around mx-2">
            <div class="rounded img-box d-flex justify-content-center align-items-center">
                <img src="../../static/image/lightning.jpg" class="voting-img">
            </div>
            <div class="rounded img-box d-flex justify-content-center align-items-center">
                <img src="../../static/image/rocks.jpg" class="voting-img">
            </div>
            <div class="rounded img-box d-flex justify-content-center align-items-center">
                <img src="../../static/image/steel.jpg" class="voting-img">
            </div>
            <div class="rounded img-box d-flex justify-content-center align-items-center">
                <img src="../../static/image/woods.jpg" class="voting-img">
            </div>
    </div>
</div>