<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Client</title>
</head>
<body>
    <h3 align = 'Center'>All Client</h3>
    {% for client in all_client %}
        <img src='../../../Web2/pilot_app/static/image/female-profile.jpg' alt="">
        <p>Tên: {{ client.name }}</p>
        <p>Năm sinh: {{ client.yob }}</p>
        <p>Chiều cao: {{ client.height }}</p>
        <a href="{{ url_for('detail', id = client.id) }}">Chi tiết</a>
        <hr>
    {% endfor %}
</body>
</html>