.d-flex{
    display: flex;
}

.w-100{
    width: 100%;
}

.bg-red{
    background-color: lightcoral;
}

.font-lobster{
    font-family: 'Lobster', cursive;
}

.m-up-5px{
    margin: 5px 0;
}

.w-20px{
    width: 20px;
}

.h-20px{
    height: 20px;
}

.line-h-20px{
    line-height: 20px;
}

.m-left-10px{
    margin-left: 10px;
}

.m-up-20px{
    margin: 20px 0;
}

.color-blue{
    color: royalblue;
}

.d-flex-col{
    display: flex;
    flex-flow: column;
}