.bg-grey{
    background-color: gray;
}

.w-100px {
    width: 100px;
}

.h-100px {
    height: 100px;
}

.bg-green {
    background-color: green;
}

.margin-10px {
    margin : 10px;
}

#flex-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 500px;
    align-items: center;
}

