<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Scizor</title>
</head>
<body>
    <h3>{{ about_me.Name }}</h3>
    <p>Work: {{ about_me.Work }}</p>
    <p>School: {{ about_me.School }}</p>
    <p>Hobbies: {{ about_me.Hobbies}}</p>
    <p>Favourite Films: {{ about_me.Favourite_films }}</p>
    <p>Crush: {{ about_me.Crush }}</p>
    <p>Girl friend: {{ about_me.Gf }}</p>
</body>
</html>