<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ user.Name }}</title>
</head>
<body>
            <h3>{{ user.Name }}</h3>
            <p>Work: {{ user.Work }}</p>
            <p>School: {{ user.School }}</p>
            <p>Hobbies: {{ user.Hobbies}}</p>
            <p>Favourite Films: {{ user.Favourite_films }}</p>
            <p>Crush: {{ user.Crush }}</p>
            <p>Girl friend: {{ user.Gf }}</p>
</body>
</html>