<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMS</title>
</head>
<body>
    <h2>CMS app</h2>
    <a href="{{ url_for('login') }}">Đăng nhập</a>
    {% for video in videos %}
        <div>
            <img src="{{ video.thumbnail }}" width="200" height = "130">
            <p><a href="{{ video.link}}">{{ video.title }}</a></p>
            <p>{{ video.views }} views
            <a href="{{ url_for('detail', youtube_id = video.youtube_id) }}">Xem</a></p>
            <hr>
        </div>
    {% endfor%}
</body>
</html>