<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
    <h3>Admin page</h3>
    <a href="{{ url_for('index') }}">Về trang chủ</a>
    <a href="{{ url_for('orderlist') }}">Phê duyệt yêu cầu</a>
    <table border = '1px' align = 'Center', style ='border-collapse:collapse'>
        <thead align = 'Center', style = "background-color: powderblue">
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Năm sinh</th>
            <th>Giới tính</th>
            <th>Chiều cao</th>
            <th>Điện thoại</th>
            <th>Địa chỉ</th>
            <th>Tình trạng</th>
            <th></th>
        </tr>
        </thead>
        <tbody align = 'Center'>
        
        {% for service in all_service %}
        <tr>
            <td>{{ loop.index }}</td>
            <td align = "Left">{{service.name}}</td>
            <td>{{service.yob}}</td>
            <td>{{"Nam" if service.gender else "Nữ"}}</td>
            <td>{{service.height}}</td>
            <td align = "Left">{{service.phone}}</td>
            <td align = "Left">{{service.address}}</td>
            <td>{{"Có chủ" if service.status else "Độc thân"}}</td>   
            <td>
                <a href="{{ url_for('edit', id=service.id) }}">Sửa</a>
                <a href="{{ url_for('delete', service_id=service.id) }}">Xóa</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</body>
</html>