<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h2>Mùa Đông Không Lạnh</h2>
    <img src="../../../Web3/Homework/Static/{{ service.name }}.jpg" alt="">
    <p>{{ service.name }}</p>
    <p>{{ service.yob }}</p>
    <p>{{ "Nam" if service.gender else "Nữ" }}</p>
    <p>{{ service.height }}</p>
    <p>{{ service.phone }}</p>
    <p>{{ service.address }}</p>
    <p>{{ service.status }}</p>
    <p>{{ service.description }}</p>
    <p>{{ service.measurements }}</p>
</body>
</html>