<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
</head>
<body>
    <h1>Edit service</h1>
    <form method = "POST">
        <label>Name</label>
        <input type="text" name="name" value = "{{ service.name }}">
        <br>

        <label>Yob</label>
        <input type="text" name="yob" value = "{{ service.yob }}">
        <br>

        <label >Phone</label>
        <input type="text" name ="phone" value = "{{ service.phone }}">
        <br>

        {% if service.gender == 0 %}
        <label >Gender</label>
        <input type="radio" name ="gender" value="Male">Male <br>
        <input type="radio" name = "gender" value = "Female" checked>Female <br>

        {% else %}
        <label >Gender</label>
        <input type="radio" name ="gender" value="Male" checked>Male <br>
        <input type="radio" name = "gender" value = "Female" >Female <br>
        {% endif %}

        <input type="submit" value="Submit">
    </form>
</body>
</html>