<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa đông không lạnh</title>
    {% include "meta-data.html" %}
    
</head>
<body>
    {% include "Homepage/navigation.html" %}
    {% include "Homepage/carousel.html" %}
    {% include "Homepage/mission.html" %}
    {% include "Homepage/voted.html" %}
    {% include "Homepage/cards.html" %}
    {% include "Homepage/footer.html" %}
    <a href="{{ url_for('admin') }}">Vào trang admin</a><br>
    <a href="{{ url_for('search', g=0) }}">Click vào em đi!</a><br>
    <a href="{{ url_for('search', g=1) }}">Click vào anh đi!</a><br>
    <a href="{{ url_for('create') }}">Thêm Service</a><br>
    <a href="{{ url_for('signin') }}">Sign In</a><br>
    <a href="{{ url_for('signup') }}">Sign Up</a><br>
    <a href="{{ url_for('logout') }}">Log out</a>
</body>
</html>