.d-flex{
    display: flex;
}

.d-flex-col{
    display: flex;
    flex-flow: column;
}

.bg-red{
    background-color: red;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}

.m-top-15px{
    margin-top: 15px;
}