<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
</head>
<body>
    <h1>Search page</h1>
    <a href="{{ url_for('index') }}">Ve trang chu</a>
    {% for customer in all_customer %}
        <div>
            <p>Ten: {{ customer.name }}</p>
            <p>Năm sinh: {{  customer.yob }}</p>
            <p>Chieu cao: {{ customer.height }} cm</p>
            <hr>
        </div>
    {% endfor %}
</body>
</html>