<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>10 first male</title>
</head>
<body>
    <h2>10 First Male Customers</h2>
    {% for male in male_customer %}
        <p>Ten: {{ male.name }}</p>
        <p>Nam sinh: {{ male.yob }}</p>
        <p>Gioi tinh: {{ male.gender }}</p>
        <p>Chieu cao: {{ male.height }}</p>
        <p>SDT: {{ male.phone }}</p>
        <p>Dia chi: {{ male.address }}</p>
        <p>Email: {{ male.email }}</p>
        <p>Nghe nghiep: {{ male.job }}</p>
        <p>Cong ty: {{ male.company }}</p>
        <hr>
    {% endfor %}
</body>
</html>