.background{
    display: flex;
    background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("http://i.imgur.com/eK8lSRT.jpg");
    align-items: center;
    align-content: center;
    flex-flow: column;
    height: 1000px; 
}

.body{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.image{
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: space-around;
}

.h-40{
    height: 40%;
}

.h-10{
    height: 10%;
}

.h-5{
    height: 5%;
}

.w-100{
    width: 100%;
}

.title{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 200%;
    padding: 3% 0 0 0;
}

.image1{
    background-image: url("https://scontent.fhan1-1.fna.fbcdn.net/v/t1.0-9/13690885_1563192797316595_7608882368287507908_n.jpg?_nc_cat=0&oh=81cd0c5f80718804df8271f9b0199d11&oe=5C226DD4")
}

.image2{
    background-image: url("https://scontent.fhan1-1.fna.fbcdn.net/v/t1.0-9/29597226_601217733565084_99387188199077288_n.jpg?_nc_cat=0&oh=4b2bfeeb7a327a61c5fa7af29d4f86f9&oe=5BF551CC")
}

.image3{
    background-image: url("https://scontent.fhan1-1.fna.fbcdn.net/v/t1.0-9/30595192_1029800703839870_1357443857040519913_n.jpg?_nc_cat=1&oh=55c00e79dbf28899a5ce84e9d776d6ee&oe=5C38EE1B")
}

.image4{
    background-image: url("https://scontent.fhan1-1.fna.fbcdn.net/v/t1.0-9/19732262_1073697466094400_2109188183087374730_n.jpg?_nc_cat=0&oh=e9fe80fc67c197f9c9dcdb2129883b23&oe=5C399712")
}

.w-line{
    height: 5px;
    background-color: white;
    width: 20%;
}

.circle{
    background-size: cover;
    border-radius: 50%;
    height: 70%;
    width: 20%;
}

.name{
    height: 50px;
    font-size: 150%;
    color: white;
}