<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng ký</title>
</head>
<body>
    <h1>Đăng ký</h1>
    <form method="POST">
        <label>Full Name</label>
        <br>
        <input type="text" name="fullname" placeholder="Full Name">
        <br>
        <label>Date of Birth</label>
        <br>
        <input type="text" name="yob" placeholder="Date of Birth">
        <br>
        <label>Email</label>
        <br>
        <input type="text" name="email" placeholder="Email">
        <br>
        <label>Password</label>
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <input type="submit" value = "Đăng ký">
    </form>
</body>
</html>